<table width="256" height="50" style="border-spacing:0;font-family:Roboto,Arial,sans-serif;margin-bottom:0;margin-left:auto;margin-right:auto;margin-top:0;text-align:center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="background-color:#6EC475;border-collapse:collapse;text-align:center!important">
      <a href="https://github.com/MirtlBu" style="background-color:#6EC475;border:16px solid #6EC475;border-left-width:26px;border-right-width:26px;color:#F8FFF8;display:inline-block;font-size:16px;margin:0;text-align:center!important;text-decoration:none;text-transform:uppercase;" target="_blank" data-saferedirecturl="">Use code spring2020
      </a>
    </td>
  </tr>
</table>