<table width="100%" style="border-spacing:0;margin-bottom:0;margin-left:auto;margin-right:auto;margin-top:0;text-align:center;font-family:Roboto,Arial,sans-serif;" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-left: 32px; padding-right: 32px; text-align: center;">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left"style="border-spacing:0;font-family:Roboto,Arial,sans-serif;">
          <tr>
            <td style="border-collapse:collapse;font-size:16px;text-align:left;">
              <a href="https://github.com/MirtlBu" style="display:block;color:#203A22;text-decoration:none;" target="_blank" data-saferedirecturl="">© MirtlBu 2020
              </a>
            </td>
            <td style="border-collapse:collapse;font-size:16px;text-align:right;">
              <a href="https://github.com/MirtlBu" style="display:block;color:#203A22;" target="_blank" data-saferedirecturl="">Unsubscribe
              </a>
            </td>
          </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;line-height: 32px;">&nbsp;
    </td>
  </tr>
</table>