<table width="100%" style="border-spacing:0;margin-bottom:0;margin-left:auto;margin-right:auto;margin-top:0;text-align:center;font-family:Roboto,Arial,sans-serif;" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="border-collapse:collapse;color:#203A22;font-size:40px;text-align:center;">Check right now
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;line-height: 32px;">&nbsp;
    </td>
  </tr>
  <tr>
    <td>
      <include src="items.html"></include>
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;">
      <include src="button_stroke.html"></include>
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;line-height: 56px;">&nbsp;
    </td>
  </tr>
</table>