<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-spacing:0;font-family:Roboto,Arial,sans-serif;max-width:630px">
  <tr>
    <td style="border-collapse:collapse;line-height: 32px;">&nbsp;
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;color:#203A22;font-size:16px;text-align:center;">
      Exclusive 20% code inside — just for you!
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;color:#6EC475;font-size:40px;text-align:center;">
      <a href="https://github.com/MirtlBu" style="color:#6EC475;font-size:40px;text-decoration: none;font-weight: lighter;" target="_blank" data-saferedirecturl="">Flora.com</a>
    </td>
  </tr>
  <tr>
    <td style="border-collapse:collapse;color:#203A22;line-height: 16px;">&nbsp;
    </td>
  </tr>
</table>