<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background:#F8FFF8;background-color:#F8FFF8;">
  <tr>
    <td>
      <include src="header.html"></include>
    </td>
  </tr>
  <tr>
    <td>
      <include src="hero.html"></include>
    </td>
  </tr>
  <tr>
    <td>
      <include src="goods.html"></include>
    </td>
  </tr>
  <tr>
    <td>
      <include src="discount.html"></include>
    </td>
  </tr>
  <tr>
    <td>
      <include src="social.html"></include>
    </td>
  </tr>
  <tr>
    <td>
      <include src="footer.html"></include>
    </td>
  </tr>
</table>